body {
    font-family: "Jersey 20";
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    text-align: center; 
    font-size: 60px;
    color: #2ECC71;
    font-weight: bold;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    background-color: whitesmoke;
    font-size: 1em;
    margin-bottom: 8px;
}

form div:nth-child(7) p {
    color: #2ECC71;
    font-size: 1em;

}

select {
    width: 60%; 
    padding: 8px;
    border-radius: 5px;
    font-size: 1em;
    margin-right: auto;
    display: block; 
}

.button1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2ECC71;
    color: 
    rgb(0, 0, 0);
    border-radius: 30px;    
    width: 271px;
    height: 37px;
    margin-top: 32px;
    font-size: 20px;
    margin-bottom: 32px;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 17, 0.475);
    justify-content: center;
    margin-left: 60px;
}