*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
    font:bold;
    font-size: 40px;
      color: #2ECC71;

}
body{
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#conteiner1{
    width: 302px;
    
    

}
.novaSenha{
  text-align: left;
  font-size: 20px;


}
input{
   width: 302px;
   height: 43px;
   border-radius: 10px;
     font-family: "Jersey 20", sans-serif;
     font-weight: 400px;
     font-size: 26px;


}
#conteiner2{
    width: 302px;
}
.repitaSenha{

    text-align: left;
    font-size: 20px;

}
button{
    background-color: #2ECC71;
    color: black;
    width: 231px;
    height: 37px;
    border-radius: 20px;
    cursor: pointer;
      font-family: "Jersey 20", sans-serif;
      font-size: 20px;

}
.confirmacao{
    width: 23px;
    height: 22px;
    border-radius: 5px;
    border: 0px;
    display: flex;
    flex-direction: column;

    align-items: left;

}
#juncao{
    width: 310px;
    background-color: black;
}
.div2{
    width: 360px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    gap: 65px;

}
.conteiner-checkbox[type="checkbox"],
.conteiner-checkbox label{
    margin: 0px;
    padding: 0px;


}
.conteiner-checkbox{
    display: flex;
    text-align: center;
    gap: 2px;
    font-size: 20px;

}
.lado{
    width: 28px;
    height: 27px;
    cursor: pointer;
   
}




